/* Color scheme is catppucin frappe */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    color: #c6d0f5;
    font-family: 'Raleway', sans-serif;
}

.sidebar {
    grid-row-end: span 2;
    background-color: #232634;
}

.sidebar h1 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px;
    font-weight: 400;
    margin-bottom: 40px;
    color: #babbf1;
}

.sidebar ul {
    padding: 0;
    margin-left: 16px;
    list-style: none;
    margin-bottom: 64px;
}

.sidebar li {
    margin-bottom: 20px;
    padding-left: 24px;
    font-size: 1.2rem;
    display: flex;
    gap: 8px;
    align-items: center;
}

.header {
    background-color: #292c3c;
}

.main-content {
    background-color: #303446;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px;
    padding: 16px;
}

.main-content h2 {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.projects {
    grid-row-end: span 2;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    margin-top: 16px;
    gap: 16px;
}

.project-card {
    border: 1px solid 	#949cbb;
    border-left: 8px solid #8caaee;
    border-radius: 5px;
    padding: 20px;
    background-color: #292c3c;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.project-card h3,
.project-card p {
    padding: 0;
    margin: 0;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    gap: 8px;
}

.annoucements-card {
    background-color:#232634;
    border: 1px solid #949cbb;
    padding: 16px;
    border-radius: 4px;
    margin-top: 16px;
}

.annoucement:not(:last-child) {
    border-bottom: 1px solid #949cbb;
}